@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

html {
  scroll-behavior: smooth;
}

.shadow-card {
  box-shadow: 0 4px 20px -2px hsl(220 15% 15% / 0.08);
}

p{
  font-size: 18px;
}