@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Garet';
    src: url('/fonts/Garet-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Garet';
    src: url('/fonts/Garet-Heavy.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  

.-start-4-and-half{
    inset-inline-start: -1.125rem /* 15px */
}
