@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}


@font-face {
    font-family: 'Garet';
    src: url('/fonts/Garet-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Garet';
    src: url('/fonts/Garet-Heavy.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  

.-start-4-and-half{
    inset-inline-start: -1.125rem /* 15px */
}



/* tailwindcss animate custom classes by me */

@layer utilities {
  .fade-in-right-1000 {
    @apply animate-in fade-in slide-in-from-right duration-1000;
  }
  .fade-in-left-1000 {
    @apply animate-in fade-in slide-in-from-left duration-1000;
  }
  .fade-in-up-1000 {
    @apply animate-in fade-in slide-in-from-bottom duration-1000;
  }

  .fade-in-down-1000 {
    @apply animate-in fade-in slide-in-from-top duration-1000;
  }
}